.App {
  /* text-align: center; */
  margin: 0;
  padding: 0;
}
.ingredientsForm {
  display: block;
  width: 100%;
  max-width: 490px;
  margin-top: 50px;
  margin-left: 10px;
  border: 1px solid black;
}
.test {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.deleteBtn {
  padding: 3px 10px;
  font-size: 30px;
}
